* {
    box-sizing: border-box;
    /* border: solid 2px red; */
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* footer support */
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: center;
}

.addBookBtn {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin: 50px auto;
    font-weight: 700;
    color: white;
    background-color: cornflowerblue;
}

.addBookBtn:hover {
    cursor: pointer;
}

dialog {
    border-radius: 10px;
}

form p {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

form div {
    display: flex;
    justify-content: space-evenly;
}

::backdrop {
    background-color: rgba(169, 169, 169, 0.8);
}

.container {
    width: 80%;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.card {
    border: 2px solid darkgreen;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}